/* line 18, ../sass/booking.scss */
.content {
  /*booking head begin*/
  /*booking head end*/
  /*booking info begin*/
}
/* line 20, ../sass/booking.scss */
.content .booking_head {
  padding-top: 36px;
  background: #f8f8f8;
  border-bottom: 1px solid #eeeeee;
}
/* line 24, ../sass/booking.scss */
.content .booking_head table {
  width: 100%;
  margin-bottom: 20px;
}
/* line 28, ../sass/booking.scss */
.content .booking_head table tr td {
  padding-right: 12px;
  vertical-align: middle;
}
/* line 31, ../sass/booking.scss */
.content .booking_head table tr td img {
  padding: 3px;
  box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
}
/* line 32, ../sass/booking.scss */
.content .booking_head table tr td p {
  margin-bottom: 8px;
}
/* line 33, ../sass/booking.scss */
.content .booking_head table tr td .name {
  color: #26262a;
  font-size: 26px;
  font-family: 'montserrat-semibold';
}
/* line 34, ../sass/booking.scss */
.content .booking_head table tr td .place {
  color: #acacae;
}
/* line 35, ../sass/booking.scss */
.content .booking_head table tr td .date, .content .booking_head table tr td .time {
  padding-left: 25px;
  color: #3fb436;
  position: relative;
}
/* line 37, ../sass/booking.scss */
.content .booking_head table tr td .date:before, .content .booking_head table tr td .time:before {
  content: "";
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  position: absolute;
}
/* line 39, ../sass/booking.scss */
.content .booking_head table tr td .date:before {
  background: url("../images/date-green.png") no-repeat 0 0;
}
/* line 40, ../sass/booking.scss */
.content .booking_head table tr td .time:before {
  background: url("../images/time-green.png") no-repeat 0 0;
}
/* line 45, ../sass/booking.scss */
.content .booking_head .booking_tabs ul {
  border-bottom: none;
}
/* line 47, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li {
  width: 33%;
  padding: 0 1%;
  box-sizing: border-box;
}
/* line 8, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li.active a, .content .booking_head .booking_tabs ul li:hover a, .content .booking_head .booking_tabs ul li:focus a {
  color: #3fb436;
  border: none;
  border-bottom: 2px solid #3fb436 !important;
  background: none;
  padding: 10px 2% 8px !important;
}
/* line 52, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li a {
  text-decoration: none;
  color: #acacae;
  text-transform: uppercase;
  display: inline-block;
  outline: none;
  padding: 10px 2% !important;
  border: none;
}
/* line 8, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li a:hover, .content .booking_head .booking_tabs ul li a:focus {
  color: #3fb436;
  border: none;
  border-bottom: 2px solid #3fb436 !important;
  background: none;
  padding: 10px 2% 8px !important;
}
/* line 62, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li:nth-child(2) {
  text-align: center;
}
/* line 63, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li:nth-child(3) {
  text-align: right;
}
/* line 71, ../sass/booking.scss */
.content .booking_info {
  padding-top: 40px;
  padding-bottom: 80px;
  background: #fff;
  /*booking cart begin*/
  /*booking cart end*/
}
/* line 77, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options {
  margin-bottom: 30px;
}
/* line 79, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options .heading {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
/* line 81, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options .heading:after {
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  background: #eeeeee;
  top: 10px;
  right: 0;
  z-index: 1;
}
/* line 82, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options .heading p {
  color: #acacae;
  font-size: 11px;
  position: relative;
  padding-right: 15px;
  background: #fff;
  display: inline-block;
  z-index: 2;
  margin-bottom: 0;
}
/* line 87, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li {
  float: left;
  width: 33%;
  margin-bottom: 12px;
}
/* line 89, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input {
  display: none;
}
/* line 91, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input + label {
  color: #565658;
  font-size: 13px;
  font-weight: 300;
  padding-left: 25px;
  position: relative;
}
/* line 93, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input + label:before {
  position: absolute;
  content: "";
  border: 1px solid #eeeeee;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px -1px rgba(236, 236, 236, 0.9) inset;
}
/* line 95, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input:checked + label:before {
  background: #3fb436;
}
/* line 96, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input[type="radio"] + label:before {
  border-radius: 100%;
}
/* line 99, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul:after {
  clear: both;
  display: block;
  content: "";
}
/* line 101, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options textarea {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 10px;
}
/* line 103, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons {
  text-align: right;
  margin-top: 60px;
}
/* line 106, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a {
  display: inline-block;
  padding: 6px 20px;
  margin-left: 20px;
  text-decoration: none;
}
/* line 108, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.back {
  color: #565658;
}
/* line 110, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.back:hover {
  text-decoration: underline;
}
/* line 112, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.next {
  color: #ffffff;
  background: #3fb436;
  font-weight: bold;
  border-radius: 2px;
}
/* line 114, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.next:hover {
  opacity: 0.6;
}
/* line 123, ../sass/booking.scss */
.content .booking_info .booking_cart {
  padding: 20px 20px 0 20px;
  background: #2f322e;
  box-shadow: 0px 0px 10px 1px rgba(47, 50, 46, 0.6);
  border-radius: 2px;
  position: relative;
  top: -140px;
}
/* line 130, ../sass/booking.scss */
.content .booking_info .booking_cart p {
  color: #ffffff;
}
/* line 132, ../sass/booking.scss */
.content .booking_info .booking_cart .heading p {
  border-bottom: 2px solid #3fb436;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  padding: 0 10px 10px 0;
  margin-bottom: 0;
}
/* line 134, ../sass/booking.scss */
.content .booking_info .booking_cart .subject {
  opacity: 0.6;
  margin-bottom: 8px;
  border-top: 1px solid #444743;
  padding: 12px 0 2px 0;
  margin-bottom: 0;
}
/* line 135, ../sass/booking.scss */
.content .booking_info .booking_cart table {
  width: 100%;
  margin-bottom: 10px;
}
/* line 139, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td {
  padding: 8px 0;
  vertical-align: middle;
}
/* line 141, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td p {
  margin-bottom: 0;
  font-size: 11px;
}
/* line 142, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .date {
  opacity: 0.6;
}
/* line 143, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .people {
  text-align: center;
  padding: 4px 6px;
  border: 1px solid #555754;
  border-radius: 2px;
  box-sizing: border-box;
}
/* line 145, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .people img, .content .booking_info .booking_cart table tr td .people p {
  display: inline-block;
}
/* line 147, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .sum {
  padding: 6px 6px 7px 6px;
  border-radius: 2px;
  background: #acacae;
  box-sizing: border-box;
  text-align: center;
}
/* line 148, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td:nth-child(2), .content .booking_info .booking_cart table tr td:nth-child(3) {
  width: 60px;
  padding-left: 10px;
}

/*responsive styles*/
@media only screen and (max-width: 768px) {
  /* line 163, ../sass/booking.scss */
  .booking_head table tr td {
    display: block;
    padding-right: 0 !important;
    margin-bottom: 12px;
  }
  /* line 165, ../sass/booking.scss */
  .booking_head table tr:nth-child(2) td:nth-child(2), .booking_head table tr:nth-child(2) td:nth-child(3) {
    float: left;
    width: 48%;
    padding: 0 1%;
  }

  /* line 174, ../sass/booking.scss */
  .booking_info .tab-content .booking_options ul li {
    width: 50% !important;
  }
  /* line 176, ../sass/booking.scss */
  .booking_info .tab-content .booking_options ul li:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (max-width: 450px) {
  /* line 189, ../sass/booking.scss */
  .content .booking_head .booking_tabs ul li {
    display: block;
    width: 100%;
    text-align: left !important;
  }
  /* line 197, ../sass/booking.scss */
  .content .booking_info .tab-content .booking_options ul li {
    width: 100% !important;
    float: none !important;
  }
}
