/*mixins end*/
/* line 56, ../sass/content.scss */
.content {
  /*locations begin*/
  /*locations end*/
  /*howit begin*/
  /*howit end*/
  /*review begin*/
  /*review end*/
  /*partners begin*/
  /*partners end*/
  /*who we begin*/
  /*who we end*/
  /*our team begin*/
  /*our team end*/
  /*faq begin*/
}
/* line 14, ../sass/content.scss */
.content .locations {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .locations .heading .title {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 65, ../sass/content.scss */
.content .locations .location_item {
  margin-bottom: 30px;
  padding: 3px;
  box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
  position: relative;
}
/* line 71, ../sass/content.scss */
.content .locations .location_item a .location_image {
  overflow: hidden;
  position: relative;
}
/* line 74, ../sass/content.scss */
.content .locations .location_item a .location_image:after {
  background: rgba(36, 39, 35, 0.32);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 88, ../sass/content.scss */
.content .locations .location_item a .location_image img {
  width: 100%;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 98, ../sass/content.scss */
.content .locations .location_item a:hover .location_image:after {
  background: rgba(36, 39, 35, 0.02);
}
/* line 101, ../sass/content.scss */
.content .locations .location_item a:hover .location_image img {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 110, ../sass/content.scss */
.content .locations .location_item a .location_descr {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 25%;
}
/* line 119, ../sass/content.scss */
.content .locations .location_item a .location_descr .name {
  font-size: 32px;
  line-height: 36px;
  opacity: 1;
}
/* line 124, ../sass/content.scss */
.content .locations .location_item a .location_descr p {
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
}
/* line 43, ../sass/content.scss */
.content .locations .more {
  margin-top: 40px;
  text-align: center;
}
/* line 45, ../sass/content.scss */
.content .locations .more a {
  font-size: 16px;
  padding: 10px 0;
  border-radius: 4px;
  display: block;
}
/* line 29, ../sass/content.scss */
.content .locations .more a {
  color: #fff;
  text-decoration: none;
  background: #3fb436;
  box-sizing: border-box;
  text-align: center;
}
/* line 35, ../sass/content.scss */
.content .locations .more a:hover {
  opacity: 0.8;
}
/* line 139, ../sass/content.scss */
.content .howitworks {
  background: #f8f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* line 14, ../sass/content.scss */
.content .howitworks {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .howitworks .heading .title {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 150, ../sass/content.scss */
.content .howitworks .howit_item .howit_image {
  text-align: center;
  margin-bottom: 20px;
  min-height: 90px;
}
/* line 154, ../sass/content.scss */
.content .howitworks .howit_item .howit_image img {
  display: inline-block;
}
/* line 158, ../sass/content.scss */
.content .howitworks .howit_item .howit_descr {
  text-align: center;
}
/* line 160, ../sass/content.scss */
.content .howitworks .howit_item .howit_descr .name {
  color: #26262a;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 161, ../sass/content.scss */
.content .howitworks .howit_item .howit_descr p {
  font-size: 14px;
}
/* line 168, ../sass/content.scss */
.content .review {
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
/* line 14, ../sass/content.scss */
.content .review {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 174, ../sass/content.scss */
.content .review .review_slider .bx-wrapper {
  margin: 0 auto;
}
/* line 177, ../sass/content.scss */
.content .review .review_slider .review_item {
  text-align: center;
}
/* line 179, ../sass/content.scss */
.content .review .review_slider .review_item > p {
  font-size: 14px;
  margin-bottom: 40px;
}
/* line 181, ../sass/content.scss */
.content .review .review_slider .reviewer {
  display: inline-block;
  width: 150px;
}
/* line 184, ../sass/content.scss */
.content .review .review_slider .reviewer p, .content .review .review_slider .reviewer img {
  display: inline-block;
}
/* line 185, ../sass/content.scss */
.content .review .review_slider .reviewer img {
  margin-right: 10px;
}
/* line 186, ../sass/content.scss */
.content .review .review_slider .reviewer .name {
  font-size: 14px;
  color: #26262a;
  font-weight: bold;
}
/* line 189, ../sass/content.scss */
.content .review:before {
  position: absolute;
  top: -40px;
  left: 20%;
  background: url("../images/quotes-up.png") no-repeat 0 0;
  width: 155px;
  height: 120px;
  content: '';
}
/* line 198, ../sass/content.scss */
.content .review:after {
  position: absolute;
  bottom: 0;
  right: 20%;
  background: url("../images/quotes-down.png") no-repeat 0 0;
  width: 146px;
  height: 88px;
  content: '';
}
/* line 211, ../sass/content.scss */
.content .partners {
  background: #5cca0c;
}
/* line 14, ../sass/content.scss */
.content .partners {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 214, ../sass/content.scss */
.content .partners .row > div {
  text-align: center;
}
/* line 215, ../sass/content.scss */
.content .partners .partner_logo {
  display: inline-block;
}
/* line 217, ../sass/content.scss */
.content .partners .partner_logo a {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
}
/* line 221, ../sass/content.scss */
.content .partners .partner_logo a img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}
/* line 228, ../sass/content.scss */
.content .who_we {
  background: #fff;
}
/* line 14, ../sass/content.scss */
.content .who_we {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .who_we .heading .title {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 236, ../sass/content.scss */
.content .who_we .text {
  text-align: center;
}
/* line 241, ../sass/content.scss */
.content .our_team {
  background: #fff;
}
/* line 14, ../sass/content.scss */
.content .our_team {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .our_team .heading .title {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 43, ../sass/content.scss */
.content .our_team .more {
  margin-top: 40px;
  text-align: center;
}
/* line 45, ../sass/content.scss */
.content .our_team .more a {
  font-size: 16px;
  padding: 10px 0;
  border-radius: 4px;
  display: block;
}
/* line 29, ../sass/content.scss */
.content .our_team .more a {
  color: #fff;
  text-decoration: none;
  background: #3fb436;
  box-sizing: border-box;
  text-align: center;
}
/* line 35, ../sass/content.scss */
.content .our_team .more a:hover {
  opacity: 0.8;
}
/* line 252, ../sass/content.scss */
.content .our_team .teammate {
  margin: 0 auto 30px;
  max-width: 161px;
}
/* line 255, ../sass/content.scss */
.content .our_team .teammate .teammate_img {
  margin-bottom: 10px;
  padding: 3px;
  box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
}
/* line 259, ../sass/content.scss */
.content .our_team .teammate .teammate_img img {
  width: 100%;
}
/* line 262, ../sass/content.scss */
.content .our_team .teammate .teammate_info .name {
  color: #26262a;
  font-size: 14px;
  margin-bottom: 4px;
}
/* line 263, ../sass/content.scss */
.content .our_team .teammate .teammate_info .post {
  color: #565658;
  font-size: 12px;
}
/* line 270, ../sass/content.scss */
.content .faq {
  background: #fff;
}
/* line 14, ../sass/content.scss */
.content .faq {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 14, ../sass/content.scss */
.content .faq .faq_nav {
  padding-top: 36px;
  padding-bottom: 36px;
}
/* line 276, ../sass/content.scss */
.content .faq .faq_nav ul li {
  margin-bottom: 16px;
}
/* line 278, ../sass/content.scss */
.content .faq .faq_nav ul li a {
  color: #565658;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  padding-right: 12px;
  outline: none;
}
/* line 280, ../sass/content.scss */
.content .faq .faq_nav ul li a:hover, .content .faq .faq_nav ul li a.active {
  color: #3fb436;
  border-bottom: 2px solid #3fb436;
}
/* line 14, ../sass/content.scss */
.content .faq .faq_item {
  padding-top: 36px;
  padding-bottom: 36px;
}
/* line 287, ../sass/content.scss */
.content .faq .faq_item:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
/* line 288, ../sass/content.scss */
.content .faq .faq_item .name {
  color: #292f33;
  font-size: 18px;
  margin-bottom: 20px;
}

/*responsive styles*/
@media only screen and (max-width: 768px) {
  /* line 296, ../sass/content.scss */
  .howitworks .howit_item {
    margin-bottom: 60px;
  }

  /* line 299, ../sass/content.scss */
  .review:before {
    left: 5% !important;
  }
  /* line 300, ../sass/content.scss */
  .review:after {
    right: 5% !important;
  }
  /* line 301, ../sass/content.scss */
  .review .review_slider {
    max-width: 100% !important;
  }
  /* line 304, ../sass/content.scss */
  .review .review_slider .review_item p {
    margin-bottom: 60px !important;
  }

  /* line 309, ../sass/content.scss */
  .partners .partner_logo {
    margin: 10px 0;
  }
  /* line 311, ../sass/content.scss */
  .partners .partner_logo img {
    width: 100% !important;
  }

  /* line 317, ../sass/content.scss */
  .our_team .row .col-xs-6:nth-of-type(2n+1) {
    clear: both;
  }
}
