@font-face {
  font-family: 'montserrat-bold';
  src: url("fonts/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat-bold-webfont.svg#montserrat-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url("fonts/montserrat-semibold-webfont.eot");
  src: url("fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("fonts/montserrat-semibold-webfont.woff") format("woff"), url("fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("fonts/montserrat-semibold-webfont.svg#montserrat-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-regular';
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserrat-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-light';
  src: url("fonts/montserrat-light-webfont.eot");
  src: url("fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-light-webfont.woff2") format("woff2"), url("fonts/montserrat-light-webfont.woff") format("woff"), url("fonts/montserrat-light-webfont.ttf") format("truetype"), url("fonts/montserrat-light-webfont.svg#montserrat-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 55, ../sass/default.scss */
html, body {
  height: 100%;
  font-family: 'montserrat-regular';
  font-size: 13px;
  line-height: 145%;
}

/* line 56, ../sass/default.scss */
img {
  border: 0px;
  display: block;
}

/* line 57, ../sass/default.scss */
a {
  outline: none;
  text-decoration: underline;
}

/* line 58, ../sass/default.scss */
a:hover {
  text-decoration: none;
}

/* line 59, ../sass/default.scss */
li {
  list-style-type: none;
}

/* line 60, ../sass/default.scss */
.clear {
  clear: both;
  height: 0px;
  font-size: 0;
  overflow: hidden;
}

/* line 61, ../sass/default.scss */
p {
  color: #565658;
  line-height: 145%;
  font-size: 13px;
}

/* line 62, ../sass/default.scss */
input {
  line-height: 140%;
  font-size: 13px;
  color: #565658;
}

/* line 63, ../sass/default.scss */
select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: white url("../images/chosen-drop.png") no-repeat scroll 95% 16px;
}

/* line 64, ../sass/default.scss */
header:after {
  clear: both;
  content: "";
  display: block;
}

/* line 66, ../sass/default.scss */
.container, .container-fluid, header .main-menu {
  padding: 0;
}

/* line 67, ../sass/default.scss */
header .navbar-header, .main-menu, .main-menu ul, .submenu ul, .navbar.navbar-default {
  margin: 0 !important;
}

/* line 68, ../sass/default.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 69, ../sass/default.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 70, ../sass/default.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #a8a8a9 !important;
  background: none;
}

/* line 71, ../sass/default.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

@media (min-width: 1170px) {
  /* line 74, ../sass/default.scss */
  .container {
    width: 1170px;
  }
}
