/* line 60, ../sass/header.scss */
.ov_hidden {
  overflow: hidden;
}

/* line 65, ../sass/header.scss */
header {
  position: relative;
  /*regular upper header begin*/
  /*regular lower header begin*/
  /*regular lower header end*/
}
/* line 67, ../sass/header.scss */
header:after {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(36, 39, 35, 0.92);
  width: 100%;
  height: 100%;
}
/* line 76, ../sass/header.scss */
header .header_upper {
  z-index: 3 !important;
  padding: 16px 0 16px 0;
  /*regular upper header end*/
  /*white upper header begin*/
  /*white upper header end*/
}
/* line 2, ../sass/header.scss */
header .header_upper {
  position: relative;
  z-index: 2;
}
/* line 80, ../sass/header.scss */
header .header_upper .logo {
  display: inline-block;
  margin-top: 6px;
}
/* line 81, ../sass/header.scss */
header .header_upper .header_links {
  text-align: right;
}
/* line 83, ../sass/header.scss */
header .header_upper .header_links a {
  padding: 4px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
/* line 89, ../sass/header.scss */
header .header_upper .header_links .login {
  margin: 0 12px 0 0;
}
/* line 92, ../sass/header.scss */
header .header_upper .header_links .register {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
/* line 95, ../sass/header.scss */
header .header_upper .header_links .register:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 8, ../sass/header.scss */
header .header_upper .header_menu {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 102, ../sass/header.scss */
header .header_upper .header_menu nav {
  background: none;
  border: none;
}
/* line 105, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse {
  background: rgba(36, 39, 35, 0.99);
  border: none;
  box-shadow: none !important;
  width: 100%;
  top: 0;
  height: 100%;
  position: fixed;
}
/* line 113, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul {
  margin-top: 60px;
}
/* line 115, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul li {
  margin-top: 15px;
  text-align: center;
}
/* line 118, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  outline: none;
}
/* line 125, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul li a:hover {
  text-decoration: underline;
}
/* line 131, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle:hover, header .header_upper .header_menu nav .navbar-toggle:focus {
  background-color: transparent !important;
}
/* line 132, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle:not(.collapsed) {
  border: none !important;
  background: url("../images/cross.png") no-repeat scroll 0 0;
  width: 27px;
  height: 27px;
  z-index: 4;
  background-color: none !important;
  margin-top: 0;
  margin-right: 32px;
}
/* line 141, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle:not(.collapsed) .icon-bar {
  display: none;
}
/* line 143, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed {
  margin: 0 30px 0 0;
  border: none;
  padding: 10px 11px;
}
/* line 147, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed .icon-bar {
  background: #fff;
  width: 27px;
  height: 1px;
}
/* line 150, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed .icon-bar:not(:last-of-type) {
  margin-bottom: 6px;
}
/* line 152, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed:hover, header .header_upper .header_menu nav .navbar-toggle.collapsed:active, header .header_upper .header_menu nav .navbar-toggle.collapsed:focus {
  background: none;
  border: 1px solid #fff;
  padding: 9px 10px;
}
/* line 162, ../sass/header.scss */
header .header_upper .header_menu .logo {
  float: left;
  margin: 10px 0 0 30px;
}
/* line 166, ../sass/header.scss */
header .header_upper .header_menu .menu_links {
  margin: 40px 0 20px 0;
}
/* line 169, ../sass/header.scss */
header .header_upper .header_menu .menu_links li a {
  padding: 10px 0;
  display: block;
}
/* line 179, ../sass/header.scss */
header .header_upper.white {
  background: #fff;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1px 4px 2px rgba(236, 236, 236, 0.9);
}
/* line 183, ../sass/header.scss */
header .header_upper.white .logo {
  margin-top: 13px;
}
/* line 184, ../sass/header.scss */
header .header_upper.white .header_links {
  margin-top: 7px;
}
/* line 186, ../sass/header.scss */
header .header_upper.white .header_links .login {
  color: #565658;
}
/* line 187, ../sass/header.scss */
header .header_upper.white .header_links .register {
  background: #3fb436;
  font-weight: bold;
}
/* line 190, ../sass/header.scss */
header .header_upper.white .header_links .register:hover {
  opacity: 0.6;
}
/* line 194, ../sass/header.scss */
header .header_upper.white .venue input {
  background: white url("../images/venue.png") no-repeat 8px 12px;
  border: 1px solid #dddddd !important;
}
/* line 51, ../sass/header.scss */
header .header_upper.white .venue input {
  height: 40px;
  width: 100% !important;
  border: none;
  box-sizing: border-box;
  padding: 4px 6px 4px 26px !important;
}
/* line 201, ../sass/header.scss */
header .header_upper.white .navbar-toggle .icon-bar {
  background: #000 !important;
}
/* line 202, ../sass/header.scss */
header .header_upper.white .navbar-toggle:hover {
  border: 1px solid #000 !important;
}
/* line 209, ../sass/header.scss */
header .header_lower {
  padding-top: 10%;
  padding-bottom: 10%;
}
/* line 2, ../sass/header.scss */
header .header_lower {
  position: relative;
  z-index: 2;
}
/* line 213, ../sass/header.scss */
header .header_lower .description {
  text-align: center;
  margin-bottom: 60px;
}
/* line 216, ../sass/header.scss */
header .header_lower .description p {
  color: #fff;
  font-size: 24px;
  opacity: 0.4;
}
/* line 42, ../sass/header.scss */
header .header_lower .description p.title {
  font-family: 'montserrat-semibold';
  font-size: 44px;
  opacity: 1;
}
/* line 224, ../sass/header.scss */
header .header_lower .description h1 {
  color: #fff;
}
/* line 42, ../sass/header.scss */
header .header_lower .description h1 {
  font-family: 'montserrat-semibold';
  font-size: 44px;
  opacity: 1;
}
/* line 8, ../sass/header.scss */
header .header_lower .search .row div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 233, ../sass/header.scss */
header .header_lower .search .row div input, header .header_lower .search .row div .chosen-container {
  border-right: 1px solid #dddddd;
}
/* line 51, ../sass/header.scss */
header .header_lower .search .row div input, header .header_lower .search .row div .chosen-container {
  height: 40px;
  width: 100% !important;
  border: none;
  box-sizing: border-box;
  padding: 4px 6px 4px 26px !important;
}
/* line 237, ../sass/header.scss */
header .header_lower .search .row div .chosen-container {
  background: #fff;
}
/* line 241, ../sass/header.scss */
header .header_lower .search .row div.time input {
  width: 50% !important;
  float: left;
}
/* line 246, ../sass/header.scss */
header .header_lower .search .row div.venue input {
  border-radius: 6px 0 0 6px;
}
/* line 249, ../sass/header.scss */
header .header_lower .search .row div.searching a {
  border-radius: 0 6px 6px 0;
}
/* line 252, ../sass/header.scss */
header .header_lower .search .row div.venue input {
  background: white url("../images/venue.png") no-repeat 8px 12px;
}
/* line 255, ../sass/header.scss */
header .header_lower .search .row div.person .chosen-container {
  background: white url("../images/persons.png") no-repeat 6px 11px;
}
/* line 258, ../sass/header.scss */
header .header_lower .search .row div.date input {
  background: white url("../images/date.png") no-repeat 6px 12px;
}
/* line 261, ../sass/header.scss */
header .header_lower .search .row div.time input {
  background: white url("../images/time.png") no-repeat 5px 12px;
}
/* line 266, ../sass/header.scss */
header .header_lower .search .search_button {
  display: block;
  padding: 11px 0;
  height: 40px;
}
/* line 29, ../sass/header.scss */
header .header_lower .search .search_button {
  color: #fff;
  text-decoration: none;
  background: #3fb436;
  box-sizing: border-box;
  text-align: center;
}
/* line 35, ../sass/header.scss */
header .header_lower .search .search_button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  /* line 277, ../sass/header.scss */
  .ov_hidden {
    position: fixed;
  }

  /* line 281, ../sass/header.scss */
  .search .row div.venue input {
    border-radius: 6px 6px 0 0 !important;
  }
  /* line 284, ../sass/header.scss */
  .search .row div.searching a {
    border-radius: 0 0 6px 6px !important;
  }
  /* line 287, ../sass/header.scss */
  .search .row div input,
  .search .row div .chosen-container {
    border-bottom: 1px solid #ddd !important;
    border-right: none !important;
  }
  /* line 293, ../sass/header.scss */
  .search .row div.time input {
    border-bottom: none !important;
  }
  /* line 295, ../sass/header.scss */
  .search .row div.time input:first-child {
    border-right: 1px solid #ddd !important;
  }

  /* line 303, ../sass/header.scss */
  .navbar.navbar-default {
    min-height: auto !important;
    margin-bottom: 0 !important;
  }
}
