@font-face {
  font-family: 'montserrat-bold';
  src: url("fonts/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat-bold-webfont.svg#montserrat-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url("fonts/montserrat-semibold-webfont.eot");
  src: url("fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("fonts/montserrat-semibold-webfont.woff") format("woff"), url("fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("fonts/montserrat-semibold-webfont.svg#montserrat-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-regular';
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserrat-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-light';
  src: url("fonts/montserrat-light-webfont.eot");
  src: url("fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-light-webfont.woff2") format("woff2"), url("fonts/montserrat-light-webfont.woff") format("woff"), url("fonts/montserrat-light-webfont.ttf") format("truetype"), url("fonts/montserrat-light-webfont.svg#montserrat-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 55, ../sass/disable.scss */
html, body {
  height: 100%;
  font-family: 'montserrat-regular';
  font-size: 15px;
  line-height: 24px;
}

/* line 56, ../sass/disable.scss */
img {
  border: 0px;
  display: block;
}

/* line 57, ../sass/disable.scss */
a {
  outline: none;
  text-decoration: underline;
}

/* line 58, ../sass/disable.scss */
a:hover {
  text-decoration: none;
}

/* line 59, ../sass/disable.scss */
li {
  list-style-type: none;
}

/* line 60, ../sass/disable.scss */
.clear {
  clear: both;
  height: 0px;
  font-size: 0;
  overflow: hidden;
}

/* line 61, ../sass/disable.scss */
p {
  color: #383a3e;
  line-height: 20px;
  font-size: 16px;
}

/* line 62, ../sass/disable.scss */
input {
  line-height: 21px;
  font-size: 16px;
}

/* line 63, ../sass/disable.scss */
header:after {
  clear: both;
  content: "";
  display: block;
}

/* line 65, ../sass/disable.scss */
.container, .container-fluid, header .main-menu {
  padding: 0;
}

/* line 66, ../sass/disable.scss */
header .navbar-header, .main-menu, .main-menu ul, .submenu ul, .navbar.navbar-default {
  margin: 0 !important;
}

/* line 67, ../sass/disable.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 68, ../sass/disable.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 69, ../sass/disable.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #a8a8a9 !important;
  background: none;
}

/* line 70, ../sass/disable.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

@media (min-width: 1170px) {
  /* line 73, ../sass/disable.scss */
  .container {
    width: 1170px;
  }
}
/* line 14, ../sass/style.scss */
header {
  background: url("../images/home-bg.jpg") no-repeat fixed center center/cover;
  position: relative;
}
/* line 17, ../sass/style.scss */
header:after {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(36, 39, 35, 0.92);
  width: 100%;
  height: 100%;
}
/* line 18, ../sass/style.scss */
header .header_upper {
  padding-top: 30px;
}
/* line 4, ../sass/style.scss */
header .header_upper {
  position: relative;
  z-index: 2;
}
/* line 21, ../sass/style.scss */
header .header_upper .header_links {
  text-align: right;
}
/* line 23, ../sass/style.scss */
header .header_upper .header_links a {
  padding: 4px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
/* line 26, ../sass/style.scss */
header .header_upper .header_links .login {
  margin: 0 12px 0 0;
}
/* line 27, ../sass/style.scss */
header .header_upper .header_links .register {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
/* line 29, ../sass/style.scss */
header .header_upper .header_links .register:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 9, ../sass/style.scss */
header .header_upper .header_menu {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 36, ../sass/style.scss */
header .header_upper .header_menu nav {
  background: none;
  border: none;
}
/* line 38, ../sass/style.scss */
header .header_upper .header_menu nav .navbar-collapse {
  background: rgba(36, 39, 35, 0.92);
  border: none;
  box-shadow: none !important;
}
/* line 41, ../sass/style.scss */
header .header_upper .header_menu nav .navbar-collapse ul li {
  margin-top: 15px;
  text-align: center;
}
/* line 43, ../sass/style.scss */
header .header_upper .header_menu nav .navbar-collapse ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}
/* line 47, ../sass/style.scss */
header .header_upper .header_menu nav .navbar-toggle {
  margin: 0 30px 0 0;
  border: none;
  padding: 10px 11px;
}
/* line 49, ../sass/style.scss */
header .header_upper .header_menu nav .navbar-toggle .icon-bar {
  background: #fff;
}
/* line 50, ../sass/style.scss */
header .header_upper .header_menu nav .navbar-toggle:hover, header .header_upper .header_menu nav .navbar-toggle:active, header .header_upper .header_menu nav .navbar-toggle:focus {
  background: none;
  border: 1px solid #fff;
  padding: 9px 10px;
}
/* line 53, ../sass/style.scss */
header .header_upper .header_menu .logo {
  float: left;
  margin: 10px 0 0 30px;
}
/* line 54, ../sass/style.scss */
header .header_upper .header_menu .menu_links {
  margin: 40px 0 20px 0;
}
/* line 57, ../sass/style.scss */
header .header_upper .header_menu .menu_links li a {
  padding: 10px 0;
  display: block;
}
/* line 62, ../sass/style.scss */
header .header_lower {
  padding-top: 10%;
  padding-bottom: 10%;
}
/* line 4, ../sass/style.scss */
header .header_lower {
  position: relative;
  z-index: 2;
}
/* line 65, ../sass/style.scss */
header .header_lower .description {
  text-align: center;
  margin-bottom: 40px;
}
/* line 67, ../sass/style.scss */
header .header_lower .description p {
  color: #fff;
  font-size: 24px;
  opacity: 0.4;
  line-height: 26px;
}
/* line 68, ../sass/style.scss */
header .header_lower .description p.title {
  font-family: 'montserrat-semibold';
  font-size: 44px;
  opacity: 1;
  line-height: 52px;
}
/* line 9, ../sass/style.scss */
header .header_lower .search .row div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 75, ../sass/style.scss */
header .header_lower .search .row div input {
  height: 40px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 4px 8px;
  border-right: 1px solid #dddddd;
}
/* line 77, ../sass/style.scss */
header .header_lower .search .row div.time input {
  width: 50% !important;
  float: left;
}
/* line 79, ../sass/style.scss */
header .header_lower .search .row div:first-of-type input {
  border-radius: 6px 0 0 6px;
}
/* line 80, ../sass/style.scss */
header .header_lower .search .row div:last-of-type a {
  border-radius: 0 6px 6px 0;
}
/* line 83, ../sass/style.scss */
header .header_lower .search .search_button {
  color: #fff;
  text-decoration: none;
  display: block;
  background: #3fb436;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  height: 40px;
}
/* line 85, ../sass/style.scss */
header .header_lower .search .search_button:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 768px) {
  /* line 95, ../sass/style.scss */
  .search .row div:first-of-type input {
    border-radius: 6px 6px 0 0 !important;
  }
  /* line 96, ../sass/style.scss */
  .search .row div:last-of-type a {
    border-radius: 0 0 6px 6px !important;
  }
  /* line 97, ../sass/style.scss */
  .search .row div input {
    border-bottom: 1px solid #ddd !important;
    border-right: none !important;
  }
  /* line 99, ../sass/style.scss */
  .search .row div.time input {
    border-bottom: none !important;
  }
  /* line 101, ../sass/style.scss */
  .search .row div.time input:first-child {
    border-right: 1px solid #ddd !important;
  }
}
