@font-face {
  font-family: 'montserrat-bold';
  src: url("fonts/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat-bold-webfont.svg#montserrat-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url("fonts/montserrat-semibold-webfont.eot");
  src: url("fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("fonts/montserrat-semibold-webfont.woff") format("woff"), url("fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("fonts/montserrat-semibold-webfont.svg#montserrat-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-regular';
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserrat-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-light';
  src: url("fonts/montserrat-light-webfont.eot");
  src: url("fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-light-webfont.woff2") format("woff2"), url("fonts/montserrat-light-webfont.woff") format("woff"), url("fonts/montserrat-light-webfont.ttf") format("truetype"), url("fonts/montserrat-light-webfont.svg#montserrat-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 55, ../sass/default.scss */
html, body {
  height: 100%;
  font-family: 'montserrat-regular';
  font-size: 13px;
  line-height: 145%;
}

/* line 56, ../sass/default.scss */
img {
  border: 0px;
  display: block;
}

/* line 57, ../sass/default.scss */
a {
  outline: none;
  text-decoration: underline;
}

/* line 58, ../sass/default.scss */
a:hover {
  text-decoration: none;
}

/* line 59, ../sass/default.scss */
li {
  list-style-type: none;
}

/* line 60, ../sass/default.scss */
.clear {
  clear: both;
  height: 0px;
  font-size: 0;
  overflow: hidden;
}

/* line 61, ../sass/default.scss */
p {
  color: #565658;
  line-height: 145%;
  font-size: 13px;
  margin-bottom: 16px;
}

/* line 62, ../sass/default.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 145%;
  margin-top: 0 !important;
}

/* line 63, ../sass/default.scss */
input {
  line-height: 140%;
  font-size: 13px;
  color: #565658;
}

/* line 64, ../sass/default.scss */
select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: white url("../images/chosen-drop.png") no-repeat scroll 95% 16px;
}

/* line 65, ../sass/default.scss */
header:after {
  clear: both;
  content: "";
  display: block;
}

/* line 67, ../sass/default.scss */
.container, .container-fluid, header .main-menu {
  padding: 0;
}

/* line 68, ../sass/default.scss */
header .navbar-header, .main-menu, .main-menu ul, .submenu ul, .navbar.navbar-default {
  margin: 0 !important;
}

/* line 69, ../sass/default.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 70, ../sass/default.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 71, ../sass/default.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #a8a8a9 !important;
  background: none;
}

/* line 72, ../sass/default.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

@media (min-width: 1170px) {
  /* line 75, ../sass/default.scss */
  .container {
    width: 1170px;
  }
}
/* line 27, ../sass/widgets.scss */
.ui-datepicker {
  background: #fff;
  padding: 10px;
  display: none;
}
/* line 9, ../sass/widgets.scss */
.ui-datepicker {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
  border: none !important;
  border-radius: 4px;
  margin-top: 10px !important;
}
/* line 17, ../sass/widgets.scss */
.ui-datepicker:before {
  content: '';
  position: absolute;
  right: 50%;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  margin-right: -8px;
}
/* line 33, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  cursor: pointer;
  left: 2px;
  top: 14px;
}
/* line 39, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  cursor: pointer;
  right: 2px;
  top: 14px;
}
/* line 45, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-header {
  padding: 6px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
/* line 51, ../sass/widgets.scss */
.ui-datepicker .ui-icon {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
  height: 8px;
  width: 6px;
}
/* line 58, ../sass/widgets.scss */
.ui-datepicker .ui-icon.ui-icon-circle-triangle-w {
  background-image: url("../images/date-prev.png");
}
/* line 61, ../sass/widgets.scss */
.ui-datepicker .ui-icon.ui-icon-circle-triangle-e {
  background-image: url("../images/date-next.png");
}
/* line 65, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar {
  width: 100%;
}
/* line 68, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar tr th {
  text-align: center;
  color: #b0b1b2;
}
/* line 72, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar tr td {
  text-align: center;
  padding: 2px 5px;
}
/* line 2, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar tr td {
  font-size: 13px !important;
  line-height: 13px !important;
  color: #565658 !important;
}
/* line 76, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar tr td a {
  color: #565658;
  text-decoration: none;
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  padding-top: 6px;
}
/* line 84, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-active, .ui-datepicker .ui-datepicker-calendar tr td a.ui-state-hover {
  background: #3fb436;
  color: #fff;
  border-radius: 100%;
}
/* line 89, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-hover {
  opacity: 0.6;
}
/* line 94, ../sass/widgets.scss */
.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-other-month a {
  color: #acacac;
}

/* line 102, ../sass/widgets.scss */
.ui-timepicker-standard {
  z-index: 3 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
/* line 9, ../sass/widgets.scss */
.ui-timepicker-standard {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
  border: none !important;
  border-radius: 4px;
  margin-top: 10px !important;
}
/* line 17, ../sass/widgets.scss */
.ui-timepicker-standard:before {
  content: '';
  position: absolute;
  right: 50%;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  margin-right: -8px;
}
/* line 110, ../sass/widgets.scss */
.ui-timepicker-standard .ui-timepicker ul li {
  padding: 6px 0;
}
/* line 112, ../sass/widgets.scss */
.ui-timepicker-standard .ui-timepicker ul li:not(:last-child) {
  border-bottom: 1px solid #f3f4f5;
}
/* line 115, ../sass/widgets.scss */
.ui-timepicker-standard .ui-timepicker ul li a {
  border: none;
}
/* line 2, ../sass/widgets.scss */
.ui-timepicker-standard .ui-timepicker ul li a {
  font-size: 13px !important;
  line-height: 13px !important;
  color: #565658 !important;
}
/* line 118, ../sass/widgets.scss */
.ui-timepicker-standard .ui-timepicker ul li a.ui-state-hover {
  border: none;
  text-decoration: underline;
  background: none;
}

/* line 129, ../sass/widgets.scss */
.chosen-container .chosen-single {
  padding-top: 8px;
}
/* line 2, ../sass/widgets.scss */
.chosen-container .chosen-single {
  font-size: 13px !important;
  line-height: 13px !important;
  color: #565658 !important;
}
/* line 134, ../sass/widgets.scss */
.chosen-container .chosen-results li {
  padding: 10px 8px !important;
}
/* line 2, ../sass/widgets.scss */
.chosen-container .chosen-results li {
  font-size: 13px !important;
  line-height: 13px !important;
  color: #565658 !important;
}
/* line 137, ../sass/widgets.scss */
.chosen-container .chosen-results li:not(:last-child) {
  border-bottom: 1px solid #f3f4f5;
}
/* line 140, ../sass/widgets.scss */
.chosen-container .chosen-results li.highlighted {
  text-decoration: underline;
}

/* line 148, ../sass/widgets.scss */
.bx-wrapper .bx-pager {
  height: 16px;
  margin: 10px 0 0;
  width: 100%;
  text-align: center;
}
/* line 153, ../sass/widgets.scss */
.bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
  margin: 0 5px;
}
/* line 156, ../sass/widgets.scss */
.bx-wrapper .bx-pager .bx-pager-item a {
  background: #c6c6c6 none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 8px;
  text-indent: -10000px !important;
  outline: none;
  width: 8px;
}
/* line 165, ../sass/widgets.scss */
.bx-wrapper .bx-pager .bx-pager-item a.active {
  background: #3fb436;
}
/* line 172, ../sass/widgets.scss */
.bx-wrapper .bx-controls-direction a {
  width: 20px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  position: absolute;
  outline: none;
}
/* line 180, ../sass/widgets.scss */
.bx-wrapper .bx-controls-direction .bx-prev {
  background: url("../images/arrow-prev.png") no-repeat scroll 0 0;
  left: -5%;
}
/* line 183, ../sass/widgets.scss */
.bx-wrapper .bx-controls-direction .bx-prev:hover {
  background: url("../images/arrow-prev-hover.png") no-repeat scroll 0 0;
}
/* line 185, ../sass/widgets.scss */
.bx-wrapper .bx-controls-direction .bx-next {
  background: url("../images/arrow-next.png") no-repeat scroll 0 0;
  right: -5%;
}
/* line 188, ../sass/widgets.scss */
.bx-wrapper .bx-controls-direction .bx-next:hover {
  background: url("../images/arrow-next-hover.png") no-repeat scroll 0 0;
}

@media only screen and (max-width: 768px) {
  /* line 194, ../sass/widgets.scss */
  .ui-datepicker {
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important;
  }
}
/* line 60, ../sass/header.scss */
.ov_hidden {
  overflow: hidden;
}

/* line 65, ../sass/header.scss */
header {
  position: relative;
  /*regular upper header begin*/
  /*regular lower header begin*/
  /*regular lower header end*/
}
/* line 67, ../sass/header.scss */
header:after {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(36, 39, 35, 0.92);
  width: 100%;
  height: 100%;
}
/* line 76, ../sass/header.scss */
header .header_upper {
  z-index: 3 !important;
  padding: 16px 0 16px 0;
  /*regular upper header end*/
  /*white upper header begin*/
  /*white upper header end*/
}
/* line 2, ../sass/header.scss */
header .header_upper {
  position: relative;
  z-index: 2;
}
/* line 80, ../sass/header.scss */
header .header_upper .logo {
  display: inline-block;
  margin-top: 6px;
}
/* line 81, ../sass/header.scss */
header .header_upper .header_links {
  text-align: right;
}
/* line 83, ../sass/header.scss */
header .header_upper .header_links a {
  padding: 4px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
/* line 89, ../sass/header.scss */
header .header_upper .header_links .login {
  margin: 0 12px 0 0;
}
/* line 92, ../sass/header.scss */
header .header_upper .header_links .register {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
/* line 95, ../sass/header.scss */
header .header_upper .header_links .register:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 8, ../sass/header.scss */
header .header_upper .header_menu {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 102, ../sass/header.scss */
header .header_upper .header_menu nav {
  background: none;
  border: none;
}
/* line 105, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse {
  background: rgba(36, 39, 35, 0.99);
  border: none;
  box-shadow: none !important;
  width: 100%;
  top: 0;
  height: 100%;
  position: fixed;
}
/* line 113, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul {
  margin-top: 60px;
}
/* line 115, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul li {
  margin-top: 15px;
  text-align: center;
}
/* line 118, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  outline: none;
}
/* line 125, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-collapse ul li a:hover {
  text-decoration: underline;
}
/* line 131, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle:hover, header .header_upper .header_menu nav .navbar-toggle:focus {
  background-color: transparent !important;
}
/* line 132, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle:not(.collapsed) {
  border: none !important;
  background: url("../images/cross.png") no-repeat scroll 0 0;
  width: 27px;
  height: 27px;
  z-index: 4;
  background-color: none !important;
  margin-top: 0;
  margin-right: 32px;
}
/* line 141, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle:not(.collapsed) .icon-bar {
  display: none;
}
/* line 143, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed {
  margin: 0 30px 0 0;
  border: none;
  padding: 10px 11px;
}
/* line 147, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed .icon-bar {
  background: #fff;
  width: 27px;
  height: 1px;
}
/* line 150, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed .icon-bar:not(:last-of-type) {
  margin-bottom: 6px;
}
/* line 152, ../sass/header.scss */
header .header_upper .header_menu nav .navbar-toggle.collapsed:hover, header .header_upper .header_menu nav .navbar-toggle.collapsed:active, header .header_upper .header_menu nav .navbar-toggle.collapsed:focus {
  background: none;
  border: 1px solid #fff;
  padding: 9px 10px;
}
/* line 162, ../sass/header.scss */
header .header_upper .header_menu .logo {
  float: left;
  margin: 10px 0 0 30px;
}
/* line 166, ../sass/header.scss */
header .header_upper .header_menu .menu_links {
  margin: 40px 0 20px 0;
}
/* line 169, ../sass/header.scss */
header .header_upper .header_menu .menu_links li a {
  padding: 10px 0;
  display: block;
}
/* line 179, ../sass/header.scss */
header .header_upper.white {
  background: #fff;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1px 4px 2px rgba(236, 236, 236, 0.9);
}
/* line 183, ../sass/header.scss */
header .header_upper.white .logo {
  margin-top: 13px;
}
/* line 184, ../sass/header.scss */
header .header_upper.white .header_links {
  margin-top: 7px;
}
/* line 186, ../sass/header.scss */
header .header_upper.white .header_links .login {
  color: #565658;
}
/* line 187, ../sass/header.scss */
header .header_upper.white .header_links .register {
  background: #3fb436;
  font-weight: bold;
}
/* line 190, ../sass/header.scss */
header .header_upper.white .header_links .register:hover {
  opacity: 0.6;
}
/* line 194, ../sass/header.scss */
header .header_upper.white .venue input {
  background: white url("../images/venue.png") no-repeat 8px 12px;
  border: 1px solid #dddddd !important;
}
/* line 51, ../sass/header.scss */
header .header_upper.white .venue input {
  height: 40px;
  width: 100% !important;
  border: none;
  box-sizing: border-box;
  padding: 4px 6px 4px 26px !important;
}
/* line 201, ../sass/header.scss */
header .header_upper.white .navbar-toggle .icon-bar {
  background: #000 !important;
}
/* line 202, ../sass/header.scss */
header .header_upper.white .navbar-toggle:hover {
  border: 1px solid #000 !important;
}
/* line 209, ../sass/header.scss */
header .header_lower {
  padding-top: 10%;
  padding-bottom: 10%;
}
/* line 2, ../sass/header.scss */
header .header_lower {
  position: relative;
  z-index: 2;
}
/* line 213, ../sass/header.scss */
header .header_lower .description {
  text-align: center;
  margin-bottom: 60px;
}
/* line 216, ../sass/header.scss */
header .header_lower .description p {
  color: #fff;
  font-size: 24px;
  opacity: 0.4;
}
/* line 42, ../sass/header.scss */
header .header_lower .description p.title {
  font-family: 'montserrat-semibold';
  font-size: 44px;
  opacity: 1;
}
/* line 224, ../sass/header.scss */
header .header_lower .description h1 {
  color: #fff;
}
/* line 42, ../sass/header.scss */
header .header_lower .description h1 {
  font-family: 'montserrat-semibold';
  font-size: 44px;
  opacity: 1;
}
/* line 8, ../sass/header.scss */
header .header_lower .search .row div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 233, ../sass/header.scss */
header .header_lower .search .row div input, header .header_lower .search .row div .chosen-container {
  border-right: 1px solid #dddddd;
}
/* line 51, ../sass/header.scss */
header .header_lower .search .row div input, header .header_lower .search .row div .chosen-container {
  height: 40px;
  width: 100% !important;
  border: none;
  box-sizing: border-box;
  padding: 4px 6px 4px 26px !important;
}
/* line 237, ../sass/header.scss */
header .header_lower .search .row div .chosen-container {
  background: #fff;
}
/* line 241, ../sass/header.scss */
header .header_lower .search .row div.time input {
  width: 50% !important;
  float: left;
}
/* line 246, ../sass/header.scss */
header .header_lower .search .row div.venue input {
  border-radius: 6px 0 0 6px;
}
/* line 249, ../sass/header.scss */
header .header_lower .search .row div.searching a {
  border-radius: 0 6px 6px 0;
}
/* line 252, ../sass/header.scss */
header .header_lower .search .row div.venue input {
  background: white url("../images/venue.png") no-repeat 8px 12px;
}
/* line 255, ../sass/header.scss */
header .header_lower .search .row div.person .chosen-container {
  background: white url("../images/persons.png") no-repeat 6px 11px;
}
/* line 258, ../sass/header.scss */
header .header_lower .search .row div.date input {
  background: white url("../images/date.png") no-repeat 6px 12px;
}
/* line 261, ../sass/header.scss */
header .header_lower .search .row div.time input {
  background: white url("../images/time.png") no-repeat 5px 12px;
}
/* line 266, ../sass/header.scss */
header .header_lower .search .search_button {
  display: block;
  padding: 11px 0;
  height: 40px;
}
/* line 29, ../sass/header.scss */
header .header_lower .search .search_button {
  color: #fff;
  text-decoration: none;
  background: #3fb436;
  box-sizing: border-box;
  text-align: center;
}
/* line 35, ../sass/header.scss */
header .header_lower .search .search_button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  /* line 277, ../sass/header.scss */
  .ov_hidden {
    position: fixed;
  }

  /* line 281, ../sass/header.scss */
  .search .row div.venue input {
    border-radius: 6px 6px 0 0 !important;
  }
  /* line 284, ../sass/header.scss */
  .search .row div.searching a {
    border-radius: 0 0 6px 6px !important;
  }
  /* line 287, ../sass/header.scss */
  .search .row div input,
  .search .row div .chosen-container {
    border-bottom: 1px solid #ddd !important;
    border-right: none !important;
  }
  /* line 293, ../sass/header.scss */
  .search .row div.time input {
    border-bottom: none !important;
  }
  /* line 295, ../sass/header.scss */
  .search .row div.time input:first-child {
    border-right: 1px solid #ddd !important;
  }

  /* line 303, ../sass/header.scss */
  .navbar.navbar-default {
    min-height: auto !important;
    margin-bottom: 0 !important;
  }
}
/*mixins end*/
/* line 56, ../sass/content.scss */
.content {
  /*locations begin*/
  /*locations end*/
  /*howit begin*/
  /*howit end*/
  /*review begin*/
  /*review end*/
  /*partners begin*/
  /*partners end*/
  /*who we begin*/
  /*who we end*/
  /*our team begin*/
  /*our team end*/
  /*faq begin*/
}
/* line 14, ../sass/content.scss */
.content .locations {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .locations .heading .title, .content .locations .heading h2 {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 65, ../sass/content.scss */
.content .locations .location_item {
  margin-bottom: 30px;
  padding: 3px;
  box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
  position: relative;
}
/* line 71, ../sass/content.scss */
.content .locations .location_item a .location_image {
  overflow: hidden;
  position: relative;
}
/* line 74, ../sass/content.scss */
.content .locations .location_item a .location_image:after {
  background: rgba(36, 39, 35, 0.32);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 88, ../sass/content.scss */
.content .locations .location_item a .location_image img {
  width: 100%;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
/* line 98, ../sass/content.scss */
.content .locations .location_item a:hover .location_image:after {
  background: rgba(36, 39, 35, 0.02);
}
/* line 101, ../sass/content.scss */
.content .locations .location_item a:hover .location_image img {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 110, ../sass/content.scss */
.content .locations .location_item a .location_descr {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 25%;
}
/* line 119, ../sass/content.scss */
.content .locations .location_item a .location_descr .name {
  font-size: 32px;
  line-height: 36px;
  opacity: 1;
}
/* line 124, ../sass/content.scss */
.content .locations .location_item a .location_descr p {
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
}
/* line 43, ../sass/content.scss */
.content .locations .more {
  margin-top: 40px;
  text-align: center;
}
/* line 45, ../sass/content.scss */
.content .locations .more a {
  font-size: 16px;
  padding: 10px 0;
  border-radius: 4px;
  display: block;
}
/* line 29, ../sass/content.scss */
.content .locations .more a {
  color: #fff;
  text-decoration: none;
  background: #3fb436;
  box-sizing: border-box;
  text-align: center;
}
/* line 35, ../sass/content.scss */
.content .locations .more a:hover {
  opacity: 0.8;
}
/* line 139, ../sass/content.scss */
.content .howitworks {
  background: #f8f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* line 14, ../sass/content.scss */
.content .howitworks {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .howitworks .heading .title, .content .howitworks .heading h2 {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 150, ../sass/content.scss */
.content .howitworks .howit_item .howit_image {
  text-align: center;
  margin-bottom: 20px;
  min-height: 90px;
}
/* line 154, ../sass/content.scss */
.content .howitworks .howit_item .howit_image img {
  display: inline-block;
}
/* line 158, ../sass/content.scss */
.content .howitworks .howit_item .howit_descr {
  text-align: center;
}
/* line 160, ../sass/content.scss */
.content .howitworks .howit_item .howit_descr .name {
  color: #26262a;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 161, ../sass/content.scss */
.content .howitworks .howit_item .howit_descr p {
  font-size: 14px;
}
/* line 168, ../sass/content.scss */
.content .review {
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
/* line 14, ../sass/content.scss */
.content .review {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 174, ../sass/content.scss */
.content .review .review_slider .bx-wrapper {
  margin: 0 auto;
}
/* line 177, ../sass/content.scss */
.content .review .review_slider .review_item {
  text-align: center;
}
/* line 179, ../sass/content.scss */
.content .review .review_slider .review_item > p {
  font-size: 14px;
  margin-bottom: 40px;
}
/* line 181, ../sass/content.scss */
.content .review .review_slider .reviewer {
  display: inline-block;
  width: 150px;
}
/* line 184, ../sass/content.scss */
.content .review .review_slider .reviewer p, .content .review .review_slider .reviewer img {
  display: inline-block;
}
/* line 185, ../sass/content.scss */
.content .review .review_slider .reviewer img {
  margin-right: 10px;
}
/* line 186, ../sass/content.scss */
.content .review .review_slider .reviewer .name {
  font-size: 14px;
  color: #26262a;
  font-weight: bold;
}
/* line 189, ../sass/content.scss */
.content .review:before {
  position: absolute;
  top: -40px;
  left: 20%;
  background: url("../images/quotes-up.png") no-repeat 0 0;
  width: 155px;
  height: 120px;
  content: '';
}
/* line 198, ../sass/content.scss */
.content .review:after {
  position: absolute;
  bottom: 0;
  right: 20%;
  background: url("../images/quotes-down.png") no-repeat 0 0;
  width: 146px;
  height: 88px;
  content: '';
}
/* line 211, ../sass/content.scss */
.content .partners {
  background: #5cca0c;
}
/* line 14, ../sass/content.scss */
.content .partners {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 214, ../sass/content.scss */
.content .partners .row > div {
  text-align: center;
}
/* line 215, ../sass/content.scss */
.content .partners .partner_logo {
  display: inline-block;
}
/* line 217, ../sass/content.scss */
.content .partners .partner_logo a {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
}
/* line 221, ../sass/content.scss */
.content .partners .partner_logo a img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}
/* line 228, ../sass/content.scss */
.content .who_we {
  background: #fff;
}
/* line 14, ../sass/content.scss */
.content .who_we {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .who_we .heading .title, .content .who_we .heading h2 {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 236, ../sass/content.scss */
.content .who_we .text {
  text-align: center;
}
/* line 241, ../sass/content.scss */
.content .our_team {
  background: #fff;
}
/* line 14, ../sass/content.scss */
.content .our_team {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 20, ../sass/content.scss */
.content .our_team .heading .title, .content .our_team .heading h2 {
  color: #26262a;
  font-size: 32px;
  font-family: 'montserrat-semibold';
  text-align: center;
  margin-bottom: 60px;
}
/* line 43, ../sass/content.scss */
.content .our_team .more {
  margin-top: 40px;
  text-align: center;
}
/* line 45, ../sass/content.scss */
.content .our_team .more a {
  font-size: 16px;
  padding: 10px 0;
  border-radius: 4px;
  display: block;
}
/* line 29, ../sass/content.scss */
.content .our_team .more a {
  color: #fff;
  text-decoration: none;
  background: #3fb436;
  box-sizing: border-box;
  text-align: center;
}
/* line 35, ../sass/content.scss */
.content .our_team .more a:hover {
  opacity: 0.8;
}
/* line 252, ../sass/content.scss */
.content .our_team .teammate {
  margin: 0 auto 30px;
  max-width: 161px;
}
/* line 255, ../sass/content.scss */
.content .our_team .teammate .teammate_img {
  margin-bottom: 10px;
  padding: 3px;
  box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
}
/* line 259, ../sass/content.scss */
.content .our_team .teammate .teammate_img img {
  width: 100%;
}
/* line 262, ../sass/content.scss */
.content .our_team .teammate .teammate_info .name {
  color: #26262a;
  font-size: 14px;
  margin-bottom: 4px;
}
/* line 263, ../sass/content.scss */
.content .our_team .teammate .teammate_info .post {
  color: #565658;
  font-size: 12px;
}
/* line 270, ../sass/content.scss */
.content .faq {
  background: #fff;
}
/* line 14, ../sass/content.scss */
.content .faq {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 14, ../sass/content.scss */
.content .faq .faq_nav {
  padding-top: 36px;
  padding-bottom: 36px;
}
/* line 276, ../sass/content.scss */
.content .faq .faq_nav ul li {
  margin-bottom: 16px;
}
/* line 278, ../sass/content.scss */
.content .faq .faq_nav ul li a {
  color: #565658;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  padding-right: 12px;
  outline: none;
}
/* line 280, ../sass/content.scss */
.content .faq .faq_nav ul li a:hover, .content .faq .faq_nav ul li a.active {
  color: #3fb436;
  border-bottom: 2px solid #3fb436;
}
/* line 14, ../sass/content.scss */
.content .faq .faq_item {
  padding-top: 36px;
  padding-bottom: 36px;
}
/* line 287, ../sass/content.scss */
.content .faq .faq_item:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
/* line 288, ../sass/content.scss */
.content .faq .faq_item .name {
  color: #292f33;
  font-size: 18px;
  margin-bottom: 20px;
}

/*responsive styles*/
@media only screen and (max-width: 768px) {
  /* line 296, ../sass/content.scss */
  .howitworks .howit_item {
    margin-bottom: 60px;
  }

  /* line 299, ../sass/content.scss */
  .review:before {
    left: 5% !important;
  }
  /* line 300, ../sass/content.scss */
  .review:after {
    right: 5% !important;
  }
  /* line 301, ../sass/content.scss */
  .review .review_slider {
    max-width: 100% !important;
  }
  /* line 304, ../sass/content.scss */
  .review .review_slider .review_item p {
    margin-bottom: 60px !important;
  }

  /* line 309, ../sass/content.scss */
  .partners .partner_logo {
    margin: 10px 0;
  }
  /* line 311, ../sass/content.scss */
  .partners .partner_logo img {
    width: 100% !important;
  }

  /* line 317, ../sass/content.scss */
  .our_team .row .col-xs-6:nth-of-type(2n+1) {
    clear: both;
  }
}
/* line 18, ../sass/booking.scss */
.content {
  /*booking head begin*/
  /*booking head end*/
  /*booking info begin*/
}
/* line 20, ../sass/booking.scss */
.content .booking_head {
  padding-top: 36px;
  background: #f8f8f8;
  border-bottom: 1px solid #eeeeee;
}
/* line 24, ../sass/booking.scss */
.content .booking_head table {
  width: 100%;
  margin-bottom: 20px;
}
/* line 28, ../sass/booking.scss */
.content .booking_head table tr td {
  padding-right: 12px;
  vertical-align: middle;
}
/* line 31, ../sass/booking.scss */
.content .booking_head table tr td img {
  padding: 3px;
  box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
}
/* line 32, ../sass/booking.scss */
.content .booking_head table tr td p {
  margin-bottom: 8px;
}
/* line 33, ../sass/booking.scss */
.content .booking_head table tr td .name {
  color: #26262a;
  font-size: 26px;
  font-family: 'montserrat-semibold';
}
/* line 34, ../sass/booking.scss */
.content .booking_head table tr td .place {
  color: #acacae;
}
/* line 35, ../sass/booking.scss */
.content .booking_head table tr td .date, .content .booking_head table tr td .time {
  padding-left: 25px;
  color: #3fb436;
  position: relative;
}
/* line 37, ../sass/booking.scss */
.content .booking_head table tr td .date:before, .content .booking_head table tr td .time:before {
  content: "";
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  position: absolute;
}
/* line 39, ../sass/booking.scss */
.content .booking_head table tr td .date:before {
  background: url("../images/date-green.png") no-repeat 0 0;
}
/* line 40, ../sass/booking.scss */
.content .booking_head table tr td .time:before {
  background: url("../images/time-green.png") no-repeat 0 0;
}
/* line 45, ../sass/booking.scss */
.content .booking_head .booking_tabs ul {
  border-bottom: none;
}
/* line 47, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li {
  width: 33%;
  padding: 0 1%;
  box-sizing: border-box;
}
/* line 8, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li.active a, .content .booking_head .booking_tabs ul li:hover a, .content .booking_head .booking_tabs ul li:focus a {
  color: #3fb436;
  border: none;
  border-bottom: 2px solid #3fb436 !important;
  background: none;
  padding: 10px 2% 8px !important;
}
/* line 52, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li a {
  text-decoration: none;
  color: #acacae;
  text-transform: uppercase;
  display: inline-block;
  outline: none;
  padding: 10px 2% !important;
  border: none;
}
/* line 8, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li a:hover, .content .booking_head .booking_tabs ul li a:focus {
  color: #3fb436;
  border: none;
  border-bottom: 2px solid #3fb436 !important;
  background: none;
  padding: 10px 2% 8px !important;
}
/* line 62, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li:nth-child(2) {
  text-align: center;
}
/* line 63, ../sass/booking.scss */
.content .booking_head .booking_tabs ul li:nth-child(3) {
  text-align: right;
}
/* line 71, ../sass/booking.scss */
.content .booking_info {
  padding-top: 40px;
  padding-bottom: 80px;
  background: #fff;
  /*booking cart begin*/
  /*booking cart end*/
}
/* line 77, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options {
  margin-bottom: 30px;
}
/* line 79, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options .heading {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
/* line 81, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options .heading:after {
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  background: #eeeeee;
  top: 10px;
  right: 0;
  z-index: 1;
}
/* line 82, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options .heading p {
  color: #acacae;
  font-size: 11px;
  position: relative;
  padding-right: 15px;
  background: #fff;
  display: inline-block;
  z-index: 2;
  margin-bottom: 0;
}
/* line 87, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li {
  float: left;
  width: 33%;
  margin-bottom: 12px;
}
/* line 89, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input {
  display: none;
}
/* line 91, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input + label {
  color: #565658;
  font-size: 13px;
  font-weight: 300;
  padding-left: 25px;
  position: relative;
}
/* line 93, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input + label:before {
  position: absolute;
  content: "";
  border: 1px solid #eeeeee;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px -1px rgba(236, 236, 236, 0.9) inset;
}
/* line 95, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input:checked + label:before {
  background: #3fb436;
}
/* line 96, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul li input[type="radio"] + label:before {
  border-radius: 100%;
}
/* line 99, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options ul:after {
  clear: both;
  display: block;
  content: "";
}
/* line 101, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_options textarea {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 10px;
}
/* line 103, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons {
  text-align: right;
  margin-top: 60px;
}
/* line 106, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a {
  display: inline-block;
  padding: 6px 20px;
  margin-left: 20px;
  text-decoration: none;
}
/* line 108, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.back {
  color: #565658;
}
/* line 110, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.back:hover {
  text-decoration: underline;
}
/* line 112, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.next {
  color: #ffffff;
  background: #3fb436;
  font-weight: bold;
  border-radius: 2px;
}
/* line 114, ../sass/booking.scss */
.content .booking_info .tab-content .tab-pane .booking_buttons a.next:hover {
  opacity: 0.6;
}
/* line 123, ../sass/booking.scss */
.content .booking_info .booking_cart {
  padding: 20px 20px 0 20px;
  background: #2f322e;
  box-shadow: 0px 0px 10px 1px rgba(47, 50, 46, 0.6);
  border-radius: 2px;
  position: relative;
  top: -140px;
}
/* line 130, ../sass/booking.scss */
.content .booking_info .booking_cart p {
  color: #ffffff;
}
/* line 132, ../sass/booking.scss */
.content .booking_info .booking_cart .heading p {
  border-bottom: 2px solid #3fb436;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  padding: 0 10px 10px 0;
  margin-bottom: 0;
}
/* line 134, ../sass/booking.scss */
.content .booking_info .booking_cart .subject {
  opacity: 0.6;
  margin-bottom: 8px;
  border-top: 1px solid #444743;
  padding: 12px 0 2px 0;
  margin-bottom: 0;
}
/* line 135, ../sass/booking.scss */
.content .booking_info .booking_cart table {
  width: 100%;
  margin-bottom: 10px;
}
/* line 139, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td {
  padding: 8px 0;
  vertical-align: middle;
}
/* line 141, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td p {
  margin-bottom: 0;
  font-size: 11px;
}
/* line 142, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .date {
  opacity: 0.6;
}
/* line 143, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .people {
  text-align: center;
  padding: 4px 6px;
  border: 1px solid #555754;
  border-radius: 2px;
  box-sizing: border-box;
}
/* line 145, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .people img, .content .booking_info .booking_cart table tr td .people p {
  display: inline-block;
}
/* line 147, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td .sum {
  padding: 6px 6px 7px 6px;
  border-radius: 2px;
  background: #acacae;
  box-sizing: border-box;
  text-align: center;
}
/* line 148, ../sass/booking.scss */
.content .booking_info .booking_cart table tr td:nth-child(2), .content .booking_info .booking_cart table tr td:nth-child(3) {
  width: 60px;
  padding-left: 10px;
}

/*responsive styles*/
@media only screen and (max-width: 768px) {
  /* line 163, ../sass/booking.scss */
  .booking_head table tr td {
    display: block;
    padding-right: 0 !important;
    margin-bottom: 12px;
  }
  /* line 165, ../sass/booking.scss */
  .booking_head table tr:nth-child(2) td:nth-child(2), .booking_head table tr:nth-child(2) td:nth-child(3) {
    float: left;
    width: 48%;
    padding: 0 1%;
  }

  /* line 174, ../sass/booking.scss */
  .booking_info .tab-content .booking_options ul li {
    width: 50% !important;
  }
  /* line 176, ../sass/booking.scss */
  .booking_info .tab-content .booking_options ul li:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (max-width: 450px) {
  /* line 189, ../sass/booking.scss */
  .content .booking_head .booking_tabs ul li {
    display: block;
    width: 100%;
    text-align: left !important;
  }
  /* line 197, ../sass/booking.scss */
  .content .booking_info .tab-content .booking_options ul li {
    width: 100% !important;
    float: none !important;
  }
}
/* line 15, ../sass/footer.scss */
footer {
  background: #242723;
}
/* line 8, ../sass/footer.scss */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 19, ../sass/footer.scss */
footer .copyright a {
  margin-bottom: 6px;
  display: inline-block;
}
/* line 2, ../sass/footer.scss */
footer .copyright p {
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}
/* line 25, ../sass/footer.scss */
footer .footer_menu .section_title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 2, ../sass/footer.scss */
footer .footer_menu .section_title {
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}
/* line 31, ../sass/footer.scss */
footer .footer_menu ul li {
  margin-bottom: 16px;
}
/* line 33, ../sass/footer.scss */
footer .footer_menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
/* line 37, ../sass/footer.scss */
footer .footer_menu ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  /* line 46, ../sass/footer.scss */
  footer .copyright {
    text-align: center;
    margin-bottom: 60px;
  }
}
