@mixin nopadding {
    & {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@mixin hovertab {
	& {
		color:#3fb436; 
		border:none; 
		border-bottom:2px solid #3fb436 !important; 
		background:none; 
		padding:10px 2% 8px !important;
	}
}


.content {
/*booking head begin*/
	.booking_head {
		padding-top:36px;
		background:#f8f8f8;
		border-bottom: 1px solid #eeeeee;
		table {
			width:100%;
			margin-bottom:20px;
			tr {
				td {
					padding-right:12px;
					vertical-align:middle;
					img {padding: 3px; box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);}
					p {margin-bottom:8px;}
					.name {color:#26262a; font-size:26px; font-family: 'montserrat-semibold';}
					.place {color:#acacae;}
					.date, .time {
						padding-left:25px; color:#3fb436; position:relative;
						&:before {content:""; top:2px; left:0; width:14px; height:14px; position:absolute;}
					}
					.date:before {background: url("../images/date-green.png") no-repeat 0 0;}
					.time:before {background: url("../images/time-green.png") no-repeat 0 0;}
				}
			}
		}
		.booking_tabs {
			ul {
			border-bottom:none;
				li {
					width:33%; padding:0 1%; box-sizing:border-box;
					&.active, &:hover, &:focus {
						a {@include hovertab;}
					}
					a {
					text-decoration:none; 
					color:#acacae; 
					text-transform:uppercase; 
					display:inline-block; 
					outline:none; 
					padding:10px 2% !important; 
					border:none;
						&:hover, &:focus {@include hovertab;}
					}
					&:nth-child(2) {text-align:center;}
					&:nth-child(3) {text-align:right;}
				}
			}
		}
	}
/*booking head end*/
	
/*booking info begin*/
	.booking_info {
		padding-top:40px;
		padding-bottom:80px;
		background:#fff;
		.tab-content {
			.tab-pane {
				.booking_options {
					margin-bottom:30px;
					.heading {
						position:relative; z-index:2; margin-bottom:20px;
						&:after {position:absolute; width:100%; height:1px; content:""; background:#eeeeee; top:10px; right:0; z-index:1;}
						p {
							color:#acacae; font-size:11px; position:relative; padding-right:15px; background:#fff; display:inline-block; z-index:2; margin-bottom:0;
						}
					}
					ul {
						li {
							float:left; width:33%; margin-bottom:12px;
							input {
								display:none;
							& + label {
							color:#565658; font-size:13px; font-weight:300; padding-left:25px; position:relative;
								&:before {position:absolute; content:""; border:1px solid #eeeeee; top:2px; left:0; width:16px; height:16px; box-sizing:border-box; box-shadow:0 1px 4px -1px rgba(236, 236, 236, 0.9) inset;}
							}
							&:checked + label:before {background:#3fb436;}
							&[type="radio"] + label:before {border-radius:100%;}
							}
						}
						&:after {clear:both; display:block; content:"";}
					}
					textarea {border:1px solid #eeeeee; width:100%; padding:10px;}
				}
				.booking_buttons {
					text-align:right;
					margin-top:60px;
					a {
					display:inline-block; padding:6px 20px; margin-left:20px; text-decoration:none;
					&.back {
					color:#565658;
						&:hover {text-decoration:underline;}
					}
					&.next {
					color:#ffffff; background:#3fb436; font-weight:bold; border-radius:2px;
						&:hover {opacity:0.6;}
					}
					}
				}
			}
		}
		
/*booking cart begin*/	
		
		.booking_cart {
			padding:20px 20px 0 20px;
			background:#2f322e;
			box-shadow: 0px 0px 10px 1px rgba(47, 50, 46, 0.6);
			border-radius:2px;
			position:relative;
			top:-140px;
			p {color:#ffffff;}
			.heading {
				p { border-bottom:2px solid #3fb436; text-transform:uppercase; display:inline-block; font-weight:bold; padding:0 10px 10px 0; margin-bottom:0;}
			}
			.subject {opacity:0.6; margin-bottom:8px; border-top:1px solid #444743; padding:12px 0 2px 0; margin-bottom:0;}
			table {
				width:100%;
				margin-bottom:10px;
				tr {
					td {
						padding:8px 0; vertical-align:middle;
						p {margin-bottom:0; font-size:11px;}
						.date {opacity:0.6;}
						.people {
							text-align:center; padding:4px 6px; border:1px solid #555754; border-radius:2px; box-sizing:border-box;	
							img, p {display:inline-block;}
						}
						.sum {padding:6px 6px 7px 6px; border-radius:2px; background:#acacae; box-sizing:border-box; text-align:center;}
						&:nth-child(2), &:nth-child(3) {width:60px; padding-left:10px;}
					}
				}
			}
		}
/*booking cart end*/

	}
}

/*responsive styles*/
@media only screen and (max-width: 768px) {
	.booking_head {
		table {
			tr {
				td {display:block; padding-right:0 !important; margin-bottom:12px;}
				&:nth-child(2) {
					td:nth-child(2), td:nth-child(3) {float:left; width:48%; padding:0 1%;} 
				}
			}
		}
	}
	.booking_info {
		.tab-content {
			.booking_options {
				ul {
					li {
						width:50% !important;
						&:nth-child(2n+1) {clear:both;}
					}
					}
				}
			}
	}
}

@media only screen and (max-width: 450px) {
	.content {
	.booking_head {
		.booking_tabs { 
			ul {
				li {display:block; width:100%; text-align:left !important;}
			}
		}
	}
		.booking_info {
		.tab-content {
			.booking_options {
				ul {
					li {
						width:100% !important; float:none !important;
					}
					}
				}
			}
	}
}
}