@mixin ontop {
    & {
        position: relative;
        z-index: 2;
    }
}
@mixin nopadding {
    & {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@mixin vertpadding($pad) {
    & {
        padding-top: $pad;
        padding-bottom: $pad;
    }
}
@mixin mptitle {
    & {
        color: #26262a;
        font-size: 32px;
        font-family: 'montserrat-semibold';
        text-align: center;
        margin-bottom: 60px;
    }
}
@mixin greenbutton {
    & {
        color: #fff;
        text-decoration: none;
        background: #3fb436;
        box-sizing: border-box;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
}

@mixin morebutton {

         & { margin-top: 40px;
             text-align: center;
            a {
                @include greenbutton;
                font-size: 16px;
                padding: 10px 0;
                border-radius: 4px;
				display:block;
            }
			}
}
/*mixins end*/

.content {
/*locations begin*/
    .locations {
        @include vertpadding(90px);
        .heading {
            .title {
                @include mptitle;
            }
        }
        .location_item {
            margin-bottom: 30px;
            padding: 3px;
            box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
            position: relative;
            a {
                .location_image {
                    overflow: hidden;
                    position: relative;
                    &:after {
                        background: rgba(36, 39, 35, 0.32);
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        content: '';
                        -webkit-transition: all 1.2s ease-in-out;
                        -moz-transition: all 1.2s ease-in-out;
                        -o-transition: all 1.2s ease-in-out;
                        transition: all 1.2s ease-in-out;
                    }
                    img {
                        width: 100%;
                        -webkit-transition: all 1.2s ease-in-out;
                        -moz-transition: all 1.2s ease-in-out;
                        -o-transition: all 1.2s ease-in-out;
                        transition: all 1.2s ease-in-out;
                    }
                }
                &:hover {
                    .location_image {
                        &:after {
                            background: rgba(36, 39, 35, 0.02);
                        }
                        img {
                            -moz-transform: scale(1.2, 1.2);
                            -ms-transform: scale(1.2, 1.2);
                            -webkit-transform: scale(1.2, 1.2);
                            -o-transform: scale(1.2, 1.2);
                            transform: scale(1.2, 1.2);
                        }
                    }
                }
                .location_descr {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    text-align: center;
                    padding-top: 25%;
                    .name {
                        font-size: 32px;
                        line-height: 36px;
                        opacity: 1;
                    }
                    p {
                        font-size: 12px;
                        color: #fff;
                        opacity: 0.6;
                    }
                }
            }
        }
        .more {
            @include morebutton;
        }
    }
/*locations end*/

/*howit begin*/
    .howitworks {
        @include vertpadding(90px);
        background: #f8f8f8;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        .heading {
            .title {
                @include mptitle;
            }
        }
		.howit_item {
			.howit_image {
				text-align:center; 
				margin-bottom:20px;
				min-height:90px;
				img {
					display:inline-block;
				}
			}
			.howit_descr {
				text-align:center;
				.name {color:#26262a; font-size:18px; margin-bottom:20px;}
				p {font-size:14px;}
			}
		}
    }
/*howit end*/

/*review begin*/	
	.review {
		@include vertpadding(90px);
        background: #ffffff;
		overflow:hidden;
		position:relative;
		.review_slider {
			.bx-wrapper {
				margin:0 auto;
			}
			.review_item {
				text-align:center;
				>p {font-size:14px; margin-bottom:40px;}
			}
			.reviewer {
				display:inline-block;
				width:150px;
				p, img {display:inline-block;}
				img {margin-right:10px;}
				.name {font-size:14px; color:#26262a; font-weight:bold;}
			}
		}
		&:before {
			position: absolute;
			top: -40px;
			left: 20%;
			background: url("../images/quotes-up.png") no-repeat 0 0;
			width: 155px;
			height: 120px;
			content:'';
		}
		&:after {
			position: absolute;
			bottom: 0;
			right: 20%;
			background: url("../images/quotes-down.png") no-repeat 0 0;
			width: 146px;
			height: 88px;
			content:'';
		}
	}
/*review end*/

/*partners begin*/
	.partners {
		@include vertpadding(50px);
        background: #5cca0c;
		.row > div {text-align:center;}
		.partner_logo {
			display:inline-block;
			a {
			display:table-cell;
			vertical-align:middle;
			height: 60px;
			img {max-width:100%; width:auto; display:inline-block;}
		}
		}
	}
/*partners end*/

/*who we begin*/	
.who_we {
	@include vertpadding(90px);
	background:#fff;
        .heading {
            .title {
                @include mptitle;
            }
        }
		.text {text-align:center;}
 }
/*who we end*/

/*our team begin*/
 .our_team {
	@include vertpadding(90px);
	background:#fff;
	.heading {
            .title {
                @include mptitle;
            }
        }
		.more {
            @include morebutton;
        }
		.teammate {
			margin:0 auto 30px;
			max-width:161px;
			.teammate_img {
				margin-bottom:10px;
				padding: 3px;
				box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 0.9);
				img { width:100%;}
			}
			.teammate_info {
				.name {color:#26262a; font-size:14px; margin-bottom:4px;}
				.post {color:#565658; font-size:12px;}
			}
		}
 }
/*our team end*/

/*faq begin*/
 .faq {
	@include vertpadding(90px);
	background:#fff;
	.faq_nav {
		@include vertpadding(36px);
		ul {
			li {
				margin-bottom:16px;
				a {
					color:#565658; text-transform:uppercase; font-size:11px; text-decoration:none; padding-right:12px; outline:none;
					&:hover, &.active {color:#3fb436; border-bottom:2px solid #3fb436;}
				}
			}
		}
	}
	.faq_item {
		@include vertpadding(36px);
		&:not(:last-child) {border-bottom: 1px solid #eeeeee;}
		.name {color:#292f33; font-size:18px; margin-bottom:20px;}
	}
 }
}

/*responsive styles*/
@media only screen and (max-width: 768px) {
 .howitworks {
	.howit_item {margin-bottom:60px;}
 }
 .review {
	&:before {left:5% !important;}
	&:after {right:5% !important;}
	.review_slider {
		max-width:100% !important;
			.review_item {
				p {margin-bottom:60px !important;}
			}
	}
 }
 .partners {
	.partner_logo {
		margin:10px 0;
		img {width:100% !important;}
	}
 }
 
  .our_team {
	.row {
		.col-xs-6:nth-of-type(2n+1) {clear:both;}
	}
  }
}