@mixin widgetfont {
    & {
        font-size: 13px !important;
        line-height: 13px !important;
        color: #565658 !important;
    }
}
@mixin widgetform {
    & {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
        border: none !important;
        border-radius: 4px;
        margin-top: 10px !important;
    }
}
@mixin widgetbefore {
    &:before {
        content: '';
        position: absolute;
        right: 50%;
        top: -16px;
        border: 8px solid transparent;
        border-bottom: 8px solid #fff;
        margin-right: -8px;
    }
}
.ui-datepicker {
    @include widgetform;
    @include widgetbefore;
    background: #fff;
    padding: 10px;
    display: none;
    .ui-datepicker-prev {
        position: absolute;
        cursor: pointer;
        left: 2px;
        top: 14px;
    }
    .ui-datepicker-next {
        position: absolute;
        cursor: pointer;
        right: 2px;
        top: 14px;
    }
    .ui-datepicker-header {
        padding: 6px 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }
    .ui-icon {
        background-repeat: no-repeat;
        display: block;
        overflow: hidden;
        text-indent: -99999px;
        height: 8px;
        width: 6px;
        &.ui-icon-circle-triangle-w {
            background-image: url("../images/date-prev.png");
        }
        &.ui-icon-circle-triangle-e {
            background-image: url("../images/date-next.png");
        }
    }
    .ui-datepicker-calendar {
        width: 100%;
        tr {
            th {
                text-align: center;
                color: #b0b1b2;
            }
            td {
                @include widgetfont;
                text-align: center;
                padding: 2px 5px;
                a {
                    color: #565658;
                    text-decoration: none;
                    display: block;
                    width: 25px;
                    height: 25px;
                    box-sizing: border-box;
                    padding-top: 6px;
                    &.ui-state-active, &.ui-state-hover {
                        background: #3fb436;
                        color: #fff;
                        border-radius: 100%;
                    }
                    &.ui-state-hover {
                        opacity: 0.6;
                    }
                }
                &.ui-datepicker-other-month {
                    a {
                        color: #acacac;
                    }
                }
            }
        }
    }
}
.ui-timepicker-standard {
    @include widgetform;
    @include widgetbefore;
    z-index: 3 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    .ui-timepicker {
        ul {
            li {
                padding: 6px 0;
                &:not(:last-child) {
                    border-bottom: 1px solid #f3f4f5;
                }
                a {
                    @include widgetfont;
                    border: none;
                    &.ui-state-hover {
                        border: none;
                        text-decoration: underline;
                        background: none;
                    }
                }
            }
        }
    }
}
.chosen-container {
    .chosen-single {
        @include widgetfont;
        padding-top: 8px;
    }
    .chosen-results {
        li {
            @include widgetfont;
            padding: 10px 8px !important;
            &:not(:last-child) {
                border-bottom: 1px solid #f3f4f5;
            }
            &.highlighted {
                text-decoration: underline;
            }
        }
    }
}